.modal {
	position: relative;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	// max-width: 450px;
	width: 100%;
	padding: 40px;
	background-color: #fff;

	@include mobile {
		width: 450px;
	}
	@include desktop {
		// max-width: 528px;
		width: 528px;
		min-height: 581px;
	}
}
.btn-close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
}
.btn-close__icon {
	fill: #000000;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.btn-close:hover &,
	.btn-close:focus & {
		fill: $color-accent;
	}
}
.modal__call {
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	text-align: center;
	color: $color-title;

	@include mobile {
		margin-bottom: 12px;
		font-size: 20px;
	}

	@include desktop {
		font-size: 20px;
		line-height: 1.15;
	}
}
.modal__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.date {
	position: relative;
	margin-bottom: 10px;

	width: 100%;
}
.date__icon {
	position: absolute;
	fill: #212121;
	bottom: 11px;
	left: 12px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.date:focus-within & {
		fill: #2196f3;
	}
}
.date__name {
	display: block;
	margin-bottom: 2px;
	font-size: 10px;
	line-height: 1.67;
	letter-spacing: 0.01em;

	@include mobile {
		font-size: 12px;
		margin-bottom: 4px;
	}
}
.date__input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.date:focus-within & {
		border: 1px solid $color-accent;
	}
}
.comment {
	width: 100%;
	margin-bottom: 10px;

	@include mobile {
		margin-bottom: 20px;
	}
}
.comment__name {
	display: block;
	margin-bottom: 2px;
	font-size: 10px;

	line-height: 1.67;
	letter-spacing: 0.01em;

	@include mobile {
		margin-bottom: 4px;
		font-size: 12px;
	}
}
.comment__input {
	width: 100%;
	height: 80px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;

	@include mobile {
		height: 120px;
	}

	&::placeholder {
		line-height: 1.14;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}

	@include desktop {
		&::placeholder {
			font-size: 12px;
			line-height: 1.17;
		}
	}
}
.agreement {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 15px;

	@include mobile {
		margin-bottom: 30px;
	}
}
.agreement__input {
	&:focus + .agreement__icon {
		outline: 2px solid rgb(0, 95, 204);
		outline-width: 1px;
	}

	&:checked + .agreement__icon {
		background-color: #2196f3;
		border: 2px solid #2196f3;
	}

	&:checked + .agreement__icon .agreement__active {
		fill: #ffffff;
	}
}
.agreement__input--visually-hidden {
	@extend %visually-hidden;
}
.agreement__icon {
	position: relative;
	display: block;
	width: 13px;
	height: 13px;
	border: 2px solid #212121;
	border-radius: 2px;
	transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@include mobile {
		width: 16px;
		height: 15px;
	}
}
.agreement__active {
	position: absolute;
	bottom: -3px;
	left: -4px;
	fill: transparent;

	@include mobile {
		bottom: -2px;
		left: -3px;
	}
}
.agreement__text {
	width: 100%;
	margin-left: 8px;

	font-size: 12px;
	line-height: 1.17;

	@include desktop {
		font-size: 14px;
		line-height: 1.71;
	}
}
.agreement__link {
	text-decoration: underline;
	color: #2196f3;
}
.modal__button {
	@extend %button;
	padding: 5px 32px;

	@include mobile {
		padding: 10px 52px;
	}

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}
