.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	min-height: 581px;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__call {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: $color-title;
}
.modal__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__button {
	padding: 10px 52px;
	background-color: $color-accent;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: #ffffff;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	&:hover,
	&:focus {
		background-color: $bc-accent;
	}
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;

	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close__icon {
	fill: rgba(0, 0, 0, 1);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.btn-close:hover &,
	.btn-close:focus & {
		fill: $color-accent;
	}
}

.date {
	position: relative;
	margin-bottom: 10px;
}

.date__name {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.01em;
}

.date__icon {
	position: absolute;
	left: 12px;
	bottom: 11px;

	fill: #212121;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.date:focus-within & {
		fill: $color-accent;
	}
}

.date__input {
	width: 448px;
	height: 40px;
	padding-left: 42px;
	background-color: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.date:focus-within & {
		fill: $color-accent;
	}
}

.comment {
	position: relative;
	margin-bottom: 20px;
}

.comment__name {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.01em;
}

.comment__input {
	display: block;
	width: 448px;
	height: 120px;
	resize: none;

	padding: 12px 16px;
	background-color: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.comment:focus-within & {
		border: 1px solid $color-accent;
	}
}

.agreement {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.agreement__text {
	margin-left: 8px;
}
.agreement__link {
	color: $color-accent;
}

.agreement__icon {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid $color-title;
	border-radius: 2px;

	transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.agreement__input:focus + & {
		outline: 2px solid rgba(77, 171, 47, 0.65);
	}

	.agreement__input:checked + & {
		background-color: $color-accent;
		border: 2px solid $color-accent;
	}
}

.agreement__active {
	position: absolute;
	bottom: -2px;
	left: -2px;
	fill: transparent;

	.agreement__input:checked + .agreement__icon & {
		fill: #ffffff;
	}
}

.agreement__input--visually-hidden {
	@extend %visually-hidden;
}
