.team {
	display: flex;
	flex-direction: column;

	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
}
.team__item {
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	@include tablet {
		width: 354px;
	}

	@include desktop {
		width: 270px;
	}
}
.team__img {
	display: block;
	width: 100%;
	height: auto;

	@include tablet {
		width: 354px;
		height: 374px;
	}

	@include desktop {
		width: 270px;
		height: 260px;
	}
}
.team__description {
	padding-top: 30px;
	padding-bottom: 24px;
}
.team__title {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	text-align: center;

	color: $color-title;
}
.team__text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;

	text-align: center;
}
