.footer {
	background-color: #2f303a;
}

.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
	}

  @include desktop {
    align-items: baseline;
  }
}
