// Fonts

$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;

// Colors

$color-main: #757575;
$color-title: #212121;
$color-accent: #2196F3;

// Backgroud-color

$bc: #F5F4FA;
$bc-accent: #188CE8;
$bc-footer: #2F303A;
$bc-light: #FFFFFF


